pandas==2.3.3
numpy==2.4.4
yfinance==1.2.1
ta==0.11.0
tqdm
gymnasium==1.2.3
stable-baselines3
torch==2.5.1+cu121
tensorboard==2.19.0
h5py
matplotlib==3.10.8
scipy==1.17.1
streamlit
streamlit-autorefresh==1.0.1